@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

html.dark {
    --vp-c-bg: #030712;
}

.body {
    min-height: 100vh;
}

:root {
    --vp-c-rose-600: #E11D48;
    --vp-c-rose-700: #BE123C;
    --vp-c-rose-800: #9F1239;
}

:root {
    --vp-c-default-1: var(--vp-c-gray-1);
    --vp-c-default-2: var(--vp-c-gray-2);
    --vp-c-default-3: var(--vp-c-gray-3);
    --vp-c-default-soft: var(--vp-c-gray-soft);

    --vp-button-brand-bg: var(--vp-c-rose-600) !important;
    --vp-button-brand-hover-bg: var(--vp-c-rose-700) !important;

    --vp-c-brand-1: var(--vp-c-rose-600);
    --vp-c-brand-2: var(--vp-c-rose-700);
    --vp-c-brand-3: var(--vp-c-rose-800);
    --vp-c-brand-soft: var(--vp-c-indigo-soft);

    --vp-c-tip-1: var(--vp-c-brand-1);
    --vp-c-tip-2: var(--vp-c-brand-2);
    --vp-c-tip-3: var(--vp-c-brand-3);
    --vp-c-tip-soft: var(--vp-c-brand-soft);

    --vp-c-warning-1: var(--vp-c-yellow-1);
    --vp-c-warning-2: var(--vp-c-yellow-2);
    --vp-c-warning-3: var(--vp-c-yellow-3);
    --vp-c-warning-soft: var(--vp-c-yellow-soft);

    --vp-c-danger-1: var(--vp-c-red-1);
    --vp-c-danger-2: var(--vp-c-red-2);
    --vp-c-danger-3: var(--vp-c-red-3);
    --vp-c-danger-soft: var(--vp-c-red-soft);
}

.breadcrumb a {
    text-decoration: none;
}

:root {
    --vp-button-brand-border: transparent;
    --vp-button-brand-text: var(--vp-c-white);
    --vp-button-brand-bg: var(--vp-c-brand-3);
    --vp-button-brand-hover-border: transparent;
    --vp-button-brand-hover-text: var(--vp-c-white);
    --vp-button-brand-hover-bg: var(--vp-c-brand-2);
    --vp-button-brand-active-border: transparent;
    --vp-button-brand-active-text: var(--vp-c-white);
    --vp-button-brand-active-bg: var(--vp-c-brand-1);
}

.VPHero .container .main .text {
    margin-top: 1rem;
}

:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(
            120deg,
            #E11D48 30%,
            #BE123C
    );

    --vp-home-hero-image-background-image: linear-gradient(
            -45deg,
            #E11D48 50%,
            #9F1239 50%
    );
    --vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
    :root {
        --vp-home-hero-image-filter: blur(56px);
    }
}

@media (min-width: 960px) {
    :root {
        --vp-home-hero-image-filter: blur(68px);
    }
}

:root {
    --vp-custom-block-tip-border: transparent;
    --vp-custom-block-tip-text: var(--vp-c-text-1);
    --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
    --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);
}

.VPDoc img {
    border-radius: 10px;
}

.DocSearch {
    --docsearch-primary-color: var(--vp-c-brand-1) !important;
}

.DocSearch.DocSearch-Button {
    &:hover {
        border: 1px solid var(--vp-c-brand-3);
    }
}

